<script setup>
import { companies, departments, employees } from "../data"
import AddEmployee from '@/components/AddEmployee.vue';
import ListItems from '@/components/ListItems.vue';
import AddDepartment from '@/components/AddDepartment.vue';
import { uid } from 'uid';
import { ref } from 'vue';
import AddCompany from '@/components/AddCompany.vue';
const employeeList = ref(employees);
const companyList = ref(companies);
const departmentList = ref(departments);
const openAddEmployeeModal = ref(false);
const openAddCompanyModal = ref(false);
const openAddDepartmentModal = ref(false);
const createEmployee = (employee) => {
  employeeList.value.unshift({
    id: uid(),
    name: employee.name,
    mail: employee.mail,
    phone: employee.phone,
    celphone: employee.celphone,
    location: employee.location,
    title: employee.title,
    company: employee.company,
    department: employee.department,
    startDate: employee.startDate,
    endDate: employee.endDate
  });
}
const createCompany = (company) => {
  companyList.value.unshift({
    id: uid(),
    name: company.name
  })
};
const createDepartment = (department) => {
  departmentList.value.unshift({
    id: uid(),
    name: department.name
  })
};
</script>

<template>
  <main>
    <AddEmployee @close-modal="openAddEmployeeModal = false" :open="openAddEmployeeModal" @create-employee="createEmployee" :companies="companyList" :departments="departmentList"/>
    <AddCompany @close-modal="openAddCompanyModal = false" :open="openAddCompanyModal" @create-company="createCompany" />
    <AddDepartment @close-modal="openAddDepartmentModal = false" :open="openAddDepartmentModal"
      @create-department="createDepartment" />
    <div class="people-directory">
      <ListItems :title="'Companies'" :items="companyList" @add-item="openAddCompanyModal = true" @change-selction="" />
      <ListItems :title="'Departments'" :items="departmentList" @add-item="openAddDepartmentModal = true" />
      <ListItems :title="'Employees'" :items="employeeList" @add-item="openAddEmployeeModal = true"/>
    </div>
  </main>
</template>

<style lang="scss">
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 40px 16px;
}

.people-directory {
  width: 80%;
  height: 800px;
  align-self: center;
}

.required {
  color: red;
}
</style>