

<script setup>
import {reactive } from 'vue';
import FormModal from '@/components/FormModal.vue';
const props = defineProps({
    open: Boolean,
})

const emit = defineEmits(['create-company', 'close-modal']);

const companyState = reactive({
    name: '',
    errorMessage: '',
});
const createCompany = () => {
    if (companyState.name === '') { companyState.errorMessage = 'Company name should not be empty !'; }
    else {
        emit('create-company', companyState);
        closeModal();
    }
}
const closeModal = () => {
    emit('close-modal');
    companyState.name = "";
    companyState.errorMessage = "";
}
</script>

<template>
    <FormModal @close-modal="closeModal" :open="props.open" :modal-title="'Add Company'" @submit="createCompany"
        :errorMessage="companyState.errorMessage">
        <label>
            <span>Company Name <span class='required'>*</span></span>
            <input type='text' class='input-field' v-model="companyState.name" />
        </label>
    </FormModal>
</template>

<style lang="scss" scoped></style>