

<script setup>
import {reactive } from 'vue';
import FormModal from '@/components/FormModal.vue';
const props = defineProps({
    open: Boolean,
})

const emit = defineEmits(['create-department', 'close-modal']);

const departmentState = reactive({
    name: '',
    errorMessage: '',
});
const createDepartment = () => {
    if (departmentState.name === '') { departmentState.errorMessage = 'Department name should not be empty !'; }
    else {
        emit('create-department', departmentState);
        closeModal();
    }
}
const closeModal = () => {
    emit('close-modal');
    departmentState.name = "";
    departmentState.errorMessage = "";
}
</script>

<template>
    <FormModal @close-modal="closeModal" :open="props.open" :modal-title="'Add Department'" @submit="createDepartment"
        :errorMessage="departmentState.errorMessage">
        <label>
            <span>Department Name <span class='required'>*</span></span>
            <input type='text' class='input-field' v-model="departmentState.name" />
        </label>
    </FormModal>
</template>

<style lang="scss" scoped></style>