<script setup>
import { ref, reactive } from 'vue';
import FormModal from './FormModal.vue';

const requiredFields = ['name', 'mail', 'phone', 'location', 'title', 'company', 'department', 'startDate'];
const emit = defineEmits(['create-employee']);
const errorMessage = ref('');
const props = defineProps({
    open: Boolean,
    companies:[],
    departmentList:[]
})
const employeeState = reactive({
    name: '',
    mail: '',
    phone: '',
    celphone: '',
    location: '',
    title: '',
    company: '',
    department: '',
    startDate: '',
    endDate: ''
});

const checkRequiredFields = () => {
    for (const field of requiredFields) {
        if (employeeState[field] === '') {
            errorMessage.value = `${field} shoud not be empty!`;
            return false;
        }
    };
    return true;
};

const createEmployee = () => {
    if (checkRequiredFields()) {
        emit('create-employee', employeeState);
        closeModal();
    }
};

const closeModal = () => {
    emit('close-modal');
    employeeState.name = '';
    employeeState.mail = '';
    employeeState.phone = '';
    employeeState.celphone = '';
    employeeState.location = '';
    employeeState.title = '';
    employeeState.company = '';
    employeeState.department = '';
    employeeState.startDate = '';
    employeeState.endDate = '';
    errorMessage.value = '';
}
</script>

<template>
    <FormModal @close-modal="closeModal" :open="props.open" :modal-title="'Add Employee'" @submit="createEmployee"
        :errorMessage="errorMessage">
        <div class='section-left'>
            <div class='section-label'>Personnal informations</div>
            <label>
                <span>Name <span class='required'>*</span></span>
                <input type='text' class='input-field' v-model='employeeState.name' />
            </label>
            <label>
                <span>Email <span class='required'>*</span></span>
                <input type='text' class='input-field' v-model='employeeState.mail' />
            </label>
            <label>
                <span>Phone <span class='required'>*</span></span>
                <input type='text' class='input-field' v-model='employeeState.phone' />
            </label>
            <label>
                <span>Celphone</span>
                <input type='text' class='input-field' v-model='employeeState.celphone' />
            </label>
            <label>
                <span>Location <span class='required'>*</span></span>
                <input type='text' class='input-field' v-model='employeeState.location' />
            </label>
        </div>
        <div class='section-right'>
            <div class='section-label'>Professionnal informations</div>
            <label>
                <span>Title <span class='required'>*</span></span>
                <input type='text' class='input-field' v-model='employeeState.title' />
            </label>
            <label>
                <span>Company <span class='required'>*</span></span>
                <select class='select-field' v-model='employeeState.company'>
                    <option v-for="company in companies"  :value="company.id"> {{ company.name }}</option>
                </select>
            </label>
            <label>
                <span>Department <span class='required'>*</span></span>
                <select class='select-field' v-model='employeeState.department'>
                    <option v-for="company in departmentList"  :value="company.id"> {{ company.name }}</option>
                </select>
            </label>
            <label>
                <span>Start Date <span class='required'>*</span></span>
                <input type='date' class='input-field' v-model='employeeState.startDate' />
            </label>
            <label>
                <span>End Date</span>
                <input type='date' class='input-field' v-model='employeeState.endDate' />
            </label>
        </div>
    </FormModal>
</template>

<style lang='scss' scoped>
.section-right {
    padding-left: 20px;
    width: 50%;
    float: right
}

.section-left {
    padding-right: 20px;
    width: 50%;
    float: left
}

.add-employee {
    position: absolute;
    align-self: center;
    width: 750px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    background-color: white;
    height: 390px;
    top: 25%;
    left: 30%;
    border-radius: 15px;
}

.section-label {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.add-employee label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.add-employee label>span {
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.add-employee span.required {
    color: red;
}

.error-message {
    color: rgb(197, 29, 29);
    width: 400px !important;
}

.add-employee input.input-field,
.add-employee .select-field {
    width: 70%;
}

.add-employee input.input-field,
.add-employee .textarea-field,
.add-employee .select-field {
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    padding: 7px;
    outline: none;
}

.add-employee .input-field:focus,
.add-employee .textarea-field:focus,
.add-employee .select-field:focus {
    border: 1px solid #0C0;
}

.add-employee .textarea-field {
    height: 100px;
    width: 55%;
}

.submit-button {
    background: #075510;
}

.cancel-button {
    background: #3b3b3b;
}

.footer-buttons input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    float: inline-end;
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
}

.footer-buttons {
    margin-left: 300px;

}

h1 {
    margin-bottom: 16px;
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>