<script setup>

const emit = defineEmits(['close-modal', 'submit']);
const props = defineProps({
    open: Boolean,
    modalTitle: String,
    errorMessage: String
})


const closeModal = () => {
    emit('close-modal');
}
const submit = () => {
    emit('submit');
}
</script>

<template>
    <Teleport to="body">
        <div v-if="props.open" class="modal">
            <div class='add-item'>
                <h1>{{ modalTitle }}</h1>
                <div>
                    <div class="modal-body">
                        <slot></slot>
                    </div>

                    <div class="modal-footer">
                        <span class="error-message">{{ errorMessage }}</span>
                        <div class="footer-buttons">
                            <input type='button' class='submit-button' value='ok' @click='submit' />
                            <input type='button' class='cancel-button' value='close' @click="closeModal">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </Teleport>
</template>

<style lang='scss'>
.modal-body {
    margin: 20px
}

.add-item {
    position: absolute;
    align-self: center;
    width: 750px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    background-color: white;
    height: auto;
    top: 25%;
    left: 30%;
    border-radius: 15px;
}

.add-item label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.add-item label>span {
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.required {
    color: red;
}

.error-message {
    color: rgb(197, 29, 29);
    margin-left: 50px;;
    font-size: large;
    text-align: center;
}

.add-item input.input-field,
.add-item .select-field {
    width: 70%;
}

.add-item input.input-field,
.add-item .textarea-field,
.add-item .select-field {
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    padding: 7px;
    outline: none;
}

.add-item .input-field:focus,
.add-item .textarea-field:focus,
.add-item .select-field:focus {
    border: 1px solid #0C0;
}

.add-item .textarea-field {
    height: 100px;
    width: 55%;
}

.submit-button {
    background: #075510;
}

.cancel-button {
    background: #3b3b3b;
}

.footer-buttons input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    float: inline-end;
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
}

.footer-buttons {
    margin-left: 300px;

}

h1 {
    margin-bottom: 16px;
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>