<script setup>
import { ref, watch } from 'vue';
const props = defineProps({
    title: String,
    items: []
})
const emit = defineEmits(['add-item', 'change-selction']);
const displayedItems = ref(props.items);
const filterString = ref('');
const selectedItem = ref('');
watch(filterString, async (newFilter, oldFilter) => {
    displayedItems.value = props.items.filter(item => item.name.includes(newFilter))
});
const addNewItem = () => {
    emit('add-item');
}
const changeSelction = (item) => {
    selectedItem.value = item;
    emit('change-selction', item);

}
</script>

<template>
    <div class="list-container">
        <div class="input-container">
            <h3>{{ title }}</h3>
            <input type='text' class='input-field' v-model="filterString" />
        </div>
        <div class="button-container">
            <button @click="addNewItem">add</button>
        </div>
        <ul>
            <li v-if="!displayedItems">No Items</li>
            <li v-for="item in displayedItems" :key="item.id" @click="selectedItem = item;"
                :class="{ 'selected-item': selectedItem?.id === item.id }">
                {{ item.name }}
            </li>
        </ul>
        <div class="button-container delete-button">
            <button>remove</button>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.list-container {
    position: relative;
    margin: 20px;
    width: 30%;
    float: inline-start;
    height: 100%;
    background-color: #f8f8f8;
    border-radius: 25px;

}

ul {
    overflow-x: hidden !important;
    margin: 0px 20px 20px 0px;
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 20px;
    right: 0px;
    overflow: scroll;
    padding: 0;
    border: 2px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;

    // Again, this is where the magic happens
    -webkit-overflow-scrolling: touch;
}

li {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

    &:last-child {
        border-bottom: none;
    }

    &:nth-child(even) {
        background: #ffffff;
    }
}

.input-field {
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    padding: 6px;
    outline: none;
    width: 100%;
    margin-top: 10px;

}

.input-container {
    width: 70%;
    padding: 40px 20px;
    float: inline-start;
    padding-top: 20px;
}

.button-container {
    width: 30%;
    padding: 40px 20px;
    float: inline-end;
}

.button-container button {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    padding: 7px;
    outline: none;
}

.delete-button {
    margin-top: 640px;
    margin-left: 200px;
}
.selected-item{
    background: rgba(29, 178, 31, 0.28)!important;
}
</style>