<script setup>
import { RouterView } from "vue-router";
import EmployeeHeader from "./components/EmployeeHeader.vue";
</script>

<template>
  <EmployeeHeader />
  <RouterView />
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}
</style>